html {
  box-sizing: "border-box";
}

*,
*::before,
*::after {
  box-sizing: "inherit";
}

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}

header,
main,
footer,
section,
article,
aside,
caption,
figure {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
li,
code,
blockquote {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
  padding-right: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:active, a:focus, a:hover {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.header-navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.header-navbar-nav-item {
  color: hsl(227deg, 12%, 61%);
  font-weight: 500;
  text-transform: capitalize;
}
.header-navbar-nav-item-text {
  width: 100%;
  text-align: center;
}
.header-navbar-get-started-button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.get-started-button {
  border: 0.0625rem solid hsl(12deg, 88%, 59%);
  background-color: hsl(12deg, 88%, 59%);
  border-radius: 2rem;
  color: hsl(0deg, 0%, 98%);
  padding: 0.5rem 1.25rem;
}
.get-started-button-white {
  border-color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(12deg, 88%, 59%);
  font-weight: 700;
  padding: 0.75rem 2rem;
}

.toggle-button {
  border: none;
  background-color: transparent;
  color: hsl(228deg, 39%, 23%);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 auto;
}

.review-carousel {
  width: 100%;
}
.review-carousel-item {
  width: 100%;
}
.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.review-card {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  border: none;
}
.review-card-body {
  border: 0.0625rem solid hsl(13deg, 100%, 96%);
  background-color: hsl(13deg, 100%, 96%);
  padding: 2.5rem 1rem 1rem;
}
.review-author-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(1.5rem);
}
.review-author-avatar img {
  width: 5rem;
}
.review-author {
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
  text-align: center;
}
.review-text {
  color: hsl(227deg, 12%, 61%);
  text-align: center;
}

.orange-banner {
  width: 100%;
  height: 10rem;
  background-color: hsl(12deg, 88%, 59%);
}
@media (max-width: 992px) {
  .orange-banner {
    height: 15rem;
  }
}
.orange-banner-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .orange-banner-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.orange-banner-text {
  width: 40%;
}
.orange-banner-title {
  color: hsl(0deg, 0%, 98%);
}
@media (max-width: 992px) {
  .orange-banner-title {
    text-align: center;
  }
}

.newsletter-sign-up-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
.newsletter-sign-up-form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid hsl(0deg, 0%, 98%);
  border-radius: 2rem;
}
.newsletter-sign-up-form-submit {
  border: 0.0625rem solid hsl(12deg, 88%, 59%);
  background-color: hsl(12deg, 88%, 59%);
  border-radius: 2rem;
  color: hsl(0deg, 0%, 98%);
  padding: 0.5rem 1rem;
}

.invalid-feedback {
  display: inline-block;
}

.footer {
  width: 100%;
  height: 28rem;
  background-color: hsl(233deg, 12%, 13%);
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .footer {
    height: 25rem;
  }
}
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
@media (max-width: 992px) {
  .footer-row {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}
.footer-brand-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24%;
  height: 100%;
}
@media (max-width: 992px) {
  .footer-brand-social {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 24%;
  }
}
.footer-social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-navmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 52%;
  height: 100%;
}
@media (max-width: 992px) {
  .footer-navmenu {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 32%;
  }
}
.footer-navmenu-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: 100%;
  gap: 1rem;
}
.footer-navmenu-nav-item {
  color: hsl(227deg, 12%, 61%);
  text-transform: capitalize;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: 100%;
}
@media (max-width: 992px) {
  .footer-form {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 24%;
  }
}

.social-link-button {
  cursor: pointer;
}

.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0 auto;
}
.nav-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.nav-modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-modal-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 22.5rem;
  background-color: hsl(0deg, 0%, 98%);
}

.home-page {
  width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 88vh;
  padding: 1rem 0;
  background-image: url("../../assets/imgs/illustration-intro.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 50%;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  .hero-section {
    flex-direction: column-reverse;
    background-position: 50% 22.5%;
  }
}
.hero-text-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}
@media (max-width: 992px) {
  .hero-text-col {
    align-items: center;
  }
}
.hero-title {
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
}
@media (max-width: 992px) {
  .hero-title {
    text-align: center;
  }
}
.hero-text {
  font-weight: 500;
  color: hsl(227deg, 12%, 61%);
}
@media (max-width: 992px) {
  .hero-text {
    text-align: center;
  }
}

.what-different-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  .what-different-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.what-different-title-text-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 992px) {
  .what-different-title-text-col {
    align-items: center;
  }
}
.what-different-title {
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
}
@media (max-width: 992px) {
  .what-different-title {
    text-align: center;
  }
}
.what-different-text {
  font-weight: 500;
  color: hsl(227deg, 12%, 61%);
}
@media (max-width: 992px) {
  .what-different-text {
    text-align: center;
  }
}
.what-different-list-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.what-different-list-item {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.what-different-list-item-number-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-different-list-item-number {
  border: 0.0625rem solid hsl(12deg, 88%, 59%);
  background-color: hsl(12deg, 88%, 59%);
  border-radius: 2rem;
  color: hsl(0deg, 0%, 98%);
  padding: 0.5rem 1.25rem;
}
.what-different-list-item-text-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.what-different-list-item-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.what-different-list-item-title {
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
}
.what-different-list-item-text {
  font-weight: 500;
  color: hsl(227deg, 12%, 61%);
}

.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 3rem;
}
.carousel-section-title {
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
}
